# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
coverage/

# IDE
.idea/
.vscode/
*.sublime-*
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test outputs
src/__tests__/test-outputs/

# Environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db 