# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# Build output
lib/

# Logs
*.log
pnpm-debug.log*

# Test outputs
src/__tests__/test-outputs/
src/test.ts

# Environment variables
.env
.env.local
.env.*.local

# OS
Thumbs.db
/src/test.tsx
/**/*/.next
/**/*/node_modules
/**/*/lib
/**/*/__tests__/
